<!-- templates/home.html -->
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>greenthumbs</title>
        <link rel="stylesheet" href="bootstrap.min.css" />
        <link rel="stylesheet" href="home.html" />
        <link rel="stylesheet" href="Navigation-Clean.css" />
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="Swiper-Slider-Card-For-Blog-Or-Product-1.css" />
        <link rel="stylesheet" href="Swiper-Slider-Card-For-Blog-Or-Product.css" />
        <link rel="stylesheet" href="Timeline.css" />
    </head>
    
    <body class="text-white-50">
        <nav class="navbar navbar-light navbar-expand-md text-success bg-light text-lowercase navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Green Thumbs</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li role="presentation" class="nav-item"><a class="nav-link active text-success" href="#">Become a Plant Specialist</a></li>
                        <li class="nav-item dropdown border rounded"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link">Our Services </a>
                            <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="#">First Item</a><a role="presentation" class="dropdown-item" href="#">Second Item</a><a role="presentation" class="dropdown-item" href="#">Third Item</a></div>
                        </li>
                        <li class="nav-item dropdown"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#">plant care</a>
                            <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="#">First Item</a><a role="presentation" class="dropdown-item" href="#">Second Item</a><a role="presentation" class="dropdown-item" href="#">Third Item</a></div>
                        </li>
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="#">Contact us</a></li>
                    </ul><button class="btn btn-success btn-lg" type="button">Login</button></div>
            </div>
        </nav>
        <div id="main_header">
            <div class="jumbotron text-success border rounded">
                <h1>Loving Care for Plants</h1>
                <p>Plant Maintence on demand </p>
                <p><button class="btn btn-success btn-lg bg-success border rounded shadow-lg" type="button">Book first plant Care </button></p>
            </div>
        </div>
        <div class="card-deck text-lowercase text-right text-success bg-warning border-success shadow-lg">
            <div class="card"><img class="card-img-top w-100 d-block" />
                <div class="card-body">
                    <h4 class="card-title">water</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="card"><img class="card-img-top w-100 d-block" />
                <div class="card-body">
                    <h4 class="card-title">fertilization</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="card"><img class="card-img-top w-100 d-block" />
                <div class="card-body">
                    <h4 class="card-title">prune</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button></div>
                <div></div><span></span></div>
        </div>
        <div data-toggle="tooltip">
            <div>
                <section id="section-timeline">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="text-success section-heading">why green thumbs</h2>
                                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur. </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-group timeline">
                                    <li class="list-group-item">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="1.jpg" /></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="text-success">2009-2011 </h4>
                                                <h4 class="text-success subheading">Our Humble Beginnings </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                                                    </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item timeline-inverted">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="2.jpg" /></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="text-success">March 2011 </h4>
                                                <h4 class="text-success subheading">An Agency is Born </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                                                    </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="3.jpg" /></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>December 2012 </h4>
                                                <h4 class="subheading">Transition to Full Service </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                                                    </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item timeline-inverted">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="4.jpg" /></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>July 2014 </h4>
                                                <h4 class="subheading">Phase Two Expansion </h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                                                    </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item timeline-inverted">
                                        <div class="timeline-image">
                                            <h4>Be Part Of Our Story!</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
    
    </html>
